# IDE 설정
.idea/
.vscode/
*.sublime-workspace

# 컴파일된 바이너리 파일
*.o
*.exe
*.dll

# 패키지된 파일
*.jar

# 빌드 디렉토리
/build/
/dist/

# Python 가상 환경
venv/
.venv/
env/

# 파이썬 바이트코드
__pycache__/
*.py[cod]

# CMake 캐시
CMakeFiles/
CMakeCache.txt

# macOS 시스템 파일
.DS_Store

# Windows 시스템 파일
Thumbs.db

# 로그 파일
*.log

# SQLite 데이터베이스 파일
*.sqlite

# 환경 설정 파일
.env

# 개인 API 키
secret_key.txt

# 특정 폴더
module/test/
